ElevenLabs Solar Panels RAG.json
{
  "name": "ElevenLabs Solar Panels RAG",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 20,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1q2z0VGGVsDNMzpqpayXozFtKS2m8iiew",
            "mode": "list",
            "cachedResultName": "demo",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1q2z0VGGVsDNMzpqpayXozFtKS2m8iiew"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        880
      ],
      "id": "91ad2c98-f99f-4fda-a1df-8d0083efab14",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mmFtE5xGWPgCIExb",
          "name": "pl clubs finance info ai agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        880
      ],
      "id": "5b027932-e540-46e0-97dd-67bf3e174d32",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mmFtE5xGWPgCIExb",
          "name": "pl clubs finance info ai agent"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        880
      ],
      "id": "70941271-0db1-46da-bec6-f641b6dac321",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "solar-panel-and-ev-charger-installers",
          "mode": "list",
          "cachedResultName": "solar-panel-and-ev-charger-installers"
        },
        "options": {
          "pineconeNamespace": "solarpanelsdocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        880
      ],
      "id": "c8af3670-3ee0-4e21-b586-2747179479bd",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LAIlI8fllVqwtTMW",
          "name": "solar-panels-and-ev-charger-installers"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        1104
      ],
      "id": "83c7aa25-5dba-4cdd-8d88-04eca62c0ae0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6f9d239f-bbad-4124-b4f0-a70a3834ceb2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1344,
        896
      ],
      "id": "28582f9d-2d9c-4d10-b0e8-8321dde9a6d8",
      "name": "Webhook",
      "webhookId": "6f9d239f-bbad-4124-b4f0-a70a3834ceb2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1600,
        896
      ],
      "id": "7f5036ca-2820-484a-b9e1-35902fc09b75",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1552,
        1120
      ],
      "id": "de935043-0758-43e3-bdb8-7c72bb5388d5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BtV1c8DkV2p8J66i",
          "name": "voice assistant"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this data to answer user questions clearly and correctly.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1696,
        1120
      ],
      "id": "7bc7985b-cd84-4eb3-854a-c3d9e6da2b98",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "solar-panel-and-ev-charger-installers",
          "mode": "list",
          "cachedResultName": "solar-panel-and-ev-charger-installers"
        },
        "options": {
          "pineconeNamespace": "solarpanelsdocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1584,
        1328
      ],
      "id": "fb25545f-e4d8-4dea-9edd-c3e811995e9a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "LAIlI8fllVqwtTMW",
          "name": "solar-panels-and-ev-charger-installers"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1664,
        1536
      ],
      "id": "c420f5f9-7461-42aa-808a-bb438998e103",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "BtV1c8DkV2p8J66i",
          "name": "voice assistant"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1872,
        1328
      ],
      "id": "9df90bbd-3fca-4e80-a3e3-14a411ab8cf9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BtV1c8DkV2p8J66i",
          "name": "voice assistant"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        896
      ],
      "id": "773a4b59-e257-4aba-ae32-cd855fe9cc97",
      "name": "Respond to ElevenLabs"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        880
      ],
      "id": "3d8ce9fa-2422-4e97-a620-a8adf7488e8c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        1104
      ],
      "id": "dc41a5c1-9b27-4967-b335-bfff677d7a30",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "BtV1c8DkV2p8J66i",
          "name": "voice assistant"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2bc55ca5-d84d-436d-a534-46bec5bb136a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b9da1106f3ec39e82c665d6355e964b8f60161801c3d31632f82f96007006f12"
  },
  "id": "MSoC7Cmc3wbbFusi",
  "tags": []
}